body{
    background-color: rgb(150, 150, 119);
    color: rgb(250, 247, 243);
    border: 3px dashed yellowgreen;
    font-family: 'Brush Script MT', cursive;
}
#container{
    border: 3px dashed yellowgreen;
    background-color: rgb(70, 70, 72);
    width: 300px;
    height: 400px;
    margin:65px ;
    margin-left:40%;
    padding: 10px;
    text-align: center;
}
h1{
    font-size: 45px;
    text-transform: uppercase;
}
#tryagain{
    margin-left:25%; 
}
#next{
    margin-left:40%;
}
#button, #next, #tryagain{
    background-color: rgb(70, 70, 72);
    color: rgb(250, 247, 243);
    border: 2px solid yellowgreen;
    border-radius: 5px;
}
div{
    padding: 10px;
}
#badresult{
    color: red;
}
#timeup{
    color: red;
}
